@using Tsump.Services
@inject LanguageService Lang
@implements IDisposable

<div class="top-row ps-3 navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tsumo!</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @Lang.Get("Home")
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="members">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @Lang.Get("Members")
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="session">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @Lang.Get("WeeklySession")
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="history">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @Lang.Get("History")
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="matrix">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @Lang.Get("MeetingMatrix")
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="data">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @Lang.Get("DataManagement")
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        Lang.OnLanguageChanged += StateHasChanged;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Dispose()
    {
        Lang.OnLanguageChanged -= StateHasChanged;
    }
}
